<% include ./partials/header.ejs %>

<h1>Welcome to The Massage Therapy Database</h1>
<h3>Links to Resources</h3>

<ul>
  <li><a href="/bones">Bones</a></li>
  <li><a href="/muscles">Muscles</a></li>
</ul>

<% include ./partials/footer.ejs %>
