<% include ../partials/header %>
<div class='bone'>
  <h3 class='bone-name'><%= bone.name %></h3>
  <p class='locationOrCommonName'><%= bone.locationOrCommonName %></p>
  <img class='image' src='<%= bone.image %>' alt='<%= bone.name %>'>
</div>
<% include ../partials/footer %>
